<template>
  <div class="activity-detial">
    <div class="header">
      <div class="header-image">
        <img :src="result.topPath" alt="">
      </div>
      <div class="header-content">
        <div class="content-title">
          <div class="title-txt">
            <h2>{{result.name}}</h2>
          </div>
          <p class="title-time">上架日期：<span>{{createTime}}</span></p>
          <p class="title-state">点赞数：<span>{{result.upvoteNum}}</span></p>
        </div>
        <div class="content-status">
           <div class="click-status-btns">
            <div class="status-btn status-good-btn" 
              :class="goodActive"
              @click="clickUpvote(result.isTrueUpvote)"
            >
              <div><i></i></div>
              <span>{{upvoteTxt}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content" v-html="result.introduction" ref="content">
    </div>
  </div>
</template>

<script>
import handleSign from '@/assets/js/handleSign.js'
import { mapState } from 'vuex'
import { MessageBox, Toast } from 'mint-ui';
import { setTimeout } from 'timers';
export default {
  data () {
    return {
      result: {
        isTrueUpvote: 0,
        createtime: '',
        topPath: ''
      },
      upvoteTxt: '点赞'
    }
  },
  watch: {
    "result.isTrueUpvote": {
      handler (val, old) {
        if (val) {
          this.upvoteTxt = '已点赞'
        } else {
          this.upvoteTxt = '点赞'
        }
      }
    }
  },
  computed: {
    ...mapState([
      'id',
      'userId'
    ]),
    goodActive () {
      return {
        'status-good-active-btn': this.result.isTrueUpvote === 0 ? false : true
      }
    },
    createTime () {
      if (this.result.createtime) {
        let time = this.result.createtime.split(' ')[0];
        let str = time.split('-');
        return str[0] + '年' + str[1] + '月' + str[2] + '日';
      } else {
        return '';
      }
    }
  },
  created () {
   this.getPost()
  },
  mounted () {
  },
  updated () {
     this.$nextTick(() => {
      let value = this.$refs.content.getElementsByTagName('a');
      let aTags = Array.prototype.slice.call(value)  //Array.from(value)
      let url = [];
      if (aTags.length > 0) {
        for (let i = 0; i < aTags.length; i++) {
          let hrefstr = aTags[i].getAttribute('href');
          let hrefp = hrefstr.split('#');
          let href = hrefp[0] + '&userId=' + this.userId +'#'+ hrefp[1];
          url.push(href)
        }
        for (let i = 0; i < aTags.length; i++) {
          aTags[i].setAttribute('href', url[i])
        }
      }
    })
  },
  methods: {
    clickUpvote (value) {
      if (!parseInt(this.userId)) {
        Toast('请您先登录APP');
      } else {
        if (value) {
          this.cancleUpvote();
        } else {
          this.doUpvote();
        }
      }
    },
    cancleUpvote () {
      let formData = {
        app_platform: 3,
        app_version: 1,
        activityId: this.id,
        userId: this.userId
      }
      let app_sign = handleSign(formData);
      formData.app_sign = app_sign;
      this.axios.post('/activity/CancleActivityUpvote.do', formData)
        .then((response)=> {
          let result_data = response.data;
          Toast(result_data.msg)
          if (parseInt(result_data.status) === 1) {
            setTimeout(() => {
              this.getPost()
            }, 10)
          }
        })
        .catch((error) => {
          Toast(error.message)
        })
    },
    doUpvote () {
      let formData = {
        app_platform: 3,
        app_version: 1,
        activityId: this.id,
        userId: this.userId
      }
      let app_sign = handleSign(formData);
      formData.app_sign = app_sign;
      this.axios.post('/activity/ActivityUpvote.do', formData)
        .then((response)=> {
          let result_data = response.data;
          Toast(result_data.msg)
          if (parseInt(result_data.status) === 1) {
            setTimeout(() => {
              this.getPost()
            }, 10)
          }
        })
        .catch((error) => {
          Toast(error.message)
        })
    },
    getPost () {
      let formData = {
        app_platform: 3,
        app_version: 1,
        proId: this.id,
        userId: this.userId
      }
      let app_sign = handleSign(formData);
      formData.app_sign = app_sign;
      this.axios.post('/advertising/GetAdvertisingItem.do', formData)
        .then((response)=> {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            if (result_data.data) {
              this.result = result_data.data;
            } else {
              this.$router.replace('/no')
            }
          } else {
            Toast(result_data.msg)
          }
        })
        .catch((error) => {
          Toast(error.message)
        })
    }
  },
  components: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/scss/mixin.scss';
.activity-detial {
  padding: .4rem;
  font-size: .32rem;
  padding: 4vw;
  .header {
    position: relative;
    .header-image {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: .266667rem;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
      .content-title {
        flex: 1;
        display: flex;
        flex-direction: column;
        .title-price {
          height: .693333rem;
          line-height: .693333rem;
          font-size: .373333rem;
          .posprice {
            margin-left: .133333rem;
            strong {
              text-decoration: line-through;
            }
          }
        }
        .title-state {
          height: .533333rem;
          line-height: .533333rem;
          color: #bfbfbf;
          font-size: .32rem
        }
        .title-txt {
          height: .8rem;
          display: flex;
          align-items: center;
          h2 {
            width: 4.69rem;
            font-size: .453333rem;
            height: .8rem;
            line-height: .8rem;
            color: #333;
            font-weight: 600;
            margin-right: .16rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          i {
            display: block;
            width: 1.386667rem;
            height: .533333rem;
            background-image: url('~@/assets/images/hot.png');
            background-repeat: no-repeat;
            background-size: 1.386667rem .533333rem;;
            background-position: center center;
          }
        }
        .title-time {
          height: .8rem;
          line-height: .8rem;
          font-size: .346667rem;
          color: #bfbfbf;
        }
      }
      .content-status {
        width: 1.333333rem;
        display: flex;
        .click-status-btns {
          display: flex;
          width: 1.333333rem;
          height: 1.6rem;
          align-items: center;
          .status-btn {
            width: .666667rem;
            flex: 1;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
              height: .586667rem;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                display: block;
                height: .586667rem;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            span {
              height: 0.8rem;
              line-height: 0.8rem;
              text-align: center;
              color: #bfbfbf;
              font-size: .373333rem;
            }
            &.status-good-btn {
              div {
                i {
                  width: .586667rem;
                  @include bg-image('~@/assets/images/click_good');
                }
              }
            }
            &.status-star-btn {
              div {
                i {
                  width: .586667rem;
                  @include bg-image('~@/assets/images/click_star');
                }
              }
            }
            &.status-good-active-btn {
              div {
                i {
                  @include bg-image('~@/assets/images/click_good_active');
                }
              }
              span {
                color: #01a862;
              }
            }
            &.status-star-active-btn {
              div {
                i {
                  @include bg-image('~@/assets/images/click_star_active');
                }
              }
              span {
                color: #01a862;
              }
            }
          }
        }
      }
      
    }
  }
  .content {
    padding: .133333rem 0;
    p {
      margin-top: .4rem;
      font-size: .4rem;
      display: block;
      text-indent: .4rem;
      img {
        display: block;
        width: 100%;
      }
    }
  }

}
</style>
