<template>
  <div class="page-none">
    <img src="~@/assets/images/avatar@2x.png" alt="" width="50px" height="50px">
    <p class="page-tips">详情内容更新中...</p>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MessageBox, Toast } from 'mint-ui';
export default {
  data () {
    return {}
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'id',
      'userId'
    ])
  },
  created () {},
  mounted () {},
  updated () {},
  methods: {},
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/scss/mixin.scss';
.page-none {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  text-align: center;
  margin-left: -100px;
  margin-top: -50px;
  .page-tips {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }
}
</style>
