/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font-weight: normal;
     vertical-align: baseline;
 }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
     display: block;
 }
 
 blockquote, q {
     quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: none;
 }
 
 table {
    border-collapse: collapse;
    border-spacing: 0;
 }
 
 /* custom */
 a {
     color: #000;
     text-decoration: none;
     -webkit-backface-visibility: hidden;
 }
 a:hover {
     text-decoration: none;
 }
 li {
    list-style: none;
 }
 input,button {
    outline: none;
    border: none;
 }
 input:active, button:active {
    outline: none;
    border: none;
 }
 input:focus, button:active {
    outline: none;
    border: none;
 }
 input:hover, button:active{
    outline: none;
    border: none;
 }
 i {
    font-style: normal; 
 }
 html, body {
    height: 100%;
    font-weight: 500;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
 }
 body {
    font-size: 32px;
 }
 body * {
    box-sizing: border-box;
 }